*.pid
*.xml
*.csr
*.crt
*.key
*.db
*.json
*.old

node-red/*
www/*
appdaemon/*
dehydrated/*
deps/*
esphome/*
hasp-examples/*
python_scripts/
tts/*
.*
!/.gitignore
google_calendars.yaml
home-assistant.log
known_devices.yaml
home-assistant_v2.db
secrets.yaml
custom_components/
lovelace/old/*
lovelace/dev/*
packages/plate02/*
